html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.th {
    max-width: 150px; /* Tamanho */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.td {
    max-width: 190px; /* Tamanho */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}